@import url('https://fonts.googleapis.com/css2?family=Rubik');

body {
    font-family: 'Rubik', sans-serif;
    font-size: 2em;
    margin: 0;
}
a:link {
    color: mediumpurple;
}
a:visited {
    color: rebeccapurple;
}
h3 {
    margin-bottom: 0.5em;
}
p {
    font-size: 0.75em;
}
.head {
    background-color: black;
    display: flex;
    /* make float */
    position: fixed;
    top: 0;
    width: 100%
}
.head-link {
    color: white;
    padding: 5px;
    font-size: 0.75em;
    font-weight: bold;
    text-decoration: none;
}

/* some overrides to make header links color correctly */
.head-link:link {
    color: white;
}
.head-link:visited {
    color: white;
}

.head-link:hover {
    color: mediumpurple;
}
.head-div {
    background-color: white;
    width: 2px;
}
.content {
    /* center content */
    max-width: 250mm;
    margin: auto;
    padding-left: 5mm;
    padding-right: 5mm;
}
.accent-line {
    background-color: rebeccapurple;
    height: 5px;
}
.graphic {
    display: block;
    max-width: 90%;
    min-width: 50%;

    margin-left: auto;
    margin-right: auto;
}
.desc {
    font-size: 0.5em;
    color: dimgrey;
    text-align: center;
}