@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

:root {
    font-family: 'Fira Mono', monospace;

    --color-pale-tan: #fcd6c5;
    --color-pale-green: #e5fbe5;
    --color-link-green: #529c4b;
    --color-terminal-grey: #151915;
    --color-film-orange: #ff6d00;

    margin: 0;

    background-color: var(--color-pale-tan);
}

/* Resets (https://www.digitalocean.com/community/tutorials/css-minimal-css-reset): */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}